container_commands:
    00_download_noto_font:
      command: sudo yum -y install google-noto-sans-cjk-fonts
    01_download_nanum_font:
      command: sudo wget http://cdn.naver.com/naver/NanumFont/fontfiles/NanumFont_TTF_ALL.zip
    02_unzip_font:
      command: sudo unzip Nanum*.zip
    03_creat_fontdir:
      command: sudo mkdir -p /usr/share/fonts/nanumfont
    04_mv_font:
      command: sudo mv *.ttf /usr/share/fonts/nanumfont
    05_add_font_cache:
      command: sudo fc-cache -r